body {
    
    margin: 0;
    padding: 0;
}

.titulo-principal{
   padding: 0 0 0 20px;
}

#banner{
    width: 100%;
    
}

.principal{
    background: rgb(238, 95, 167);
    padding: 30px;
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong {
    color: gold;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

ul{
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}

.imgbeneficios{
    
}